/*
   IMAGE RENDERING
*/
.render-auto { image-rendering: auto; }
.render-auto { image-rendering: crisp-edges; }
.render-auto { -ms-interpolation-mode: nearest-neighbor; image-rendering: -webkit-optimize-contrast; image-rendering: -moz-crisp-edges; image-rendering: pixelated; }
@media screen and (min-width: 48em) {
 .render-auto-ns { image-rendering: auto; }
 .render-auto-ns { image-rendering: crisp-edges; }
 .render-auto-ns { -ms-interpolation-mode: nearest-neighbor; image-rendering: -webkit-optimize-contrast; image-rendering: -moz-crisp-edges; image-rendering: pixelated; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .render-auto-m { image-rendering: auto; }
 .render-auto-m { image-rendering: crisp-edges; }
 .render-auto-m { -ms-interpolation-mode: nearest-neighbor; image-rendering: -webkit-optimize-contrast; image-rendering: -moz-crisp-edges; image-rendering: pixelated; }
}
@media screen and (min-width: 64em) {
 .render-auto-l { image-rendering: auto; }
 .render-auto-l { image-rendering: crisp-edges; }
 .render-auto-l { -ms-interpolation-mode: nearest-neighbor; image-rendering: -webkit-optimize-contrast; image-rendering: -moz-crisp-edges; image-rendering: pixelated; }
}

