/*
   IMAGE RENDERING
*/


.render-auto { image-rendering: auto; }
.render-smooth { image-rendering: smooth; }
.render-crisp { image-rendering: crisp-edges; }
.render-pixelated { image-rendering: pixelated; }

@media screen and (min-width: 32em) {
  .render-auto-s {  image-rendering: auto; }
  .render-smooth-s { image-rendering: smooth; }
  .render-crisp-s {  image-rendering: crisp-edges; }
  .render-pixelated-s {  image-rendering: pixelated; }
}

@media screen and (min-width:48em) {
  .render-auto-m {  image-rendering: auto; }
  .render-smooth-m { image-rendering: smooth; }
  .render-crisp-m {  image-rendering: crisp-edges; }
  .render-pixelated-m {  image-rendering: pixelated; }
}

@media screen and (min-width: 96em) {
  .render-auto-l {  image-rendering: auto; }
  .render-smooth-l { image-rendering: smooth; }
  .render-crisp-l {  image-rendering: crisp-edges; }
  .render-pixelated-l {  image-rendering: pixelated; }
}

